name: CI build wheels

on:
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  build_wheel_and_sdist:
    name: Build pure Python wheel and source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Build sdist and wheel
        run: |
          pip install wheel
          python setup.py sdist bdist_wheel

      - name: Test
        run: |
          pip install dist/nmrpy*.whl
          python -s -c "import nmrpy; nmrpy.test('noplot')"

      - uses: actions/upload-artifact@v2
        name: Upload build artifacts
        with:
          name: wheel_and_tarball
          path: dist/*

  upload_pypi:
    needs: build_wheel_and_sdist
    runs-on: ubuntu-latest
    # to publish when a GitHub Release is created:
    if: github.event_name == 'release' && github.event.action == 'released'
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: wheel_and_tarball
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
#          repository_url: https://test.pypi.org/legacy/
